body{
    background-color: #FFFAB1;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.secViewDesktop{
    display: grid;
    grid-template-columns: 0px 2fr;
    width: 100%;
    *height: 100vh;
    padding-top: 18px;
}

.secViewDesktop.hidden {
    display: none;
}

.secViewDesktop .secCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.secViewDesktop .secCover > img {
    display: none;
}

.imgCover{
    width: 100%;
    height: 600px;
    position: relative;
    *padding-top: 100px;
    *padding-left: 100px;
}

.imgCoverRegister{
    width: 100%;
    height: 400px;
    position: relative;
}

.secLogin{
    width: 100%;
    *height: 100%;
    display: grid;
    text-align: center;
    background-color: #FFFAB1;
    grid-template-columns: auto;
    justify-content: center;
}

.secImgLogin{
    justify-content: center;
}

.imgLogin{
    width: 155px;
    height: 160px;
    padding-top: 20px;
}

.tittle{
    font-size: 35px;
    margin-top: 0px;
    font-family: 'Ribeye', cursive;
    margin-bottom: 5px;
}

.text{
    font-size: 22px;
    margin-top: 0px;
}

.secEmail, .secName{
    padding-bottom: 10px;
}
.inputEmail, .inputName{
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 290px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    *outline: none;
}

.secPassword{
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.inputPassword{
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 290px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    *outline: none;
}

/* .inputEmail:focus, .inputName:focus, .inputPassword:focus {
    background: rgba(28, 224, 10, 0.2);
  } */

::placeholder{
    font-size: 18px;
    color: #727074;
    text-align: center;
}

.inputSubmit{
    padding-bottom: 10px;
    color: #ffffff;
    background: #55A603;
    border-color: #55A603;
    border-radius: 20px;
    border: none;
    width: 140px;
    height: 40px;
    cursor: pointer;
    vertical-align: bottom;
    padding-top: 7px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.textOne{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.textTwo{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    cursor: pointer;
    text-decoration:none;
}
.textTwo a:hover {
    color: black;
}

.secIcons{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 5px;
}

.icon{
    width: 35px;
    height: 35px;
    padding: 5px;
}

/*View Error404*/
.secError{
    width: 100%;
    height: 100vh;
    display: grid;
    text-align: center;
    background-color: #834813;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;

}

.hError{
    font-family: 'Ribeye', cursive;
    font-size: 50px;
    color: #ffffff;
    padding-top: 20px;
}


.pError{
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    color: #ffffff;

}

.secImgError{
    padding: 20px;
}

.imgError{
    width: 200px;
    height: 200px;
}

.secInputError{
    padding-top: 20px;
}

.inputError{
    padding-bottom: 10px;
    color: #ffffff;
    background: #55A603;
    border-color: #55A603;
    border-radius: 20px;
    border: none;
    width: 140px;
    height: 40px;
    cursor: pointer;
    vertical-align: bottom;
    padding-top: 7px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    justify-content: center;
}

/*Error en pantalla*/
.textError{
    font-size: 12px;
    color: red;
    font-weight: bold;
    padding: 0px;
}

.msgErrorRegister{
    font-size: 12px;
    color: red;
    font-weight: bold;
    padding: 0px;
    padding: 5px;
    margin-top: 0px;
}

.msgErrorLogin{
    font-size: 12px;
    color: red;
    font-weight: bold;
    padding: 0px;
    padding: 5px;
    margin-top: 0px;
}

/*HEADER -NAV*/
header{
    background-color: #04AA6D;
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.logoText {
    font-family: 'Ribeye', cursive;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    
}



.navbar {
  width: 100%;
  background-color: #04AA6D;
  overflow: auto;
  display: flex;
  justify-content: right;
   
}

.navbar a {
  float: left;
  padding: 2px;
  color: white;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
   
  text-decoration: none;
  font-size: 17px;
  }



.navbar a:hover {
  background-color:#834813;
}





/*PUBLICACION*/

/* .secHome{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    column-gap: 5%;
    padding: 3rem 2rem;
} */

.secUserInfo{
    display:flex;
    width: 90%;
    margin: 0 5% 0.5rem;
    padding: 1rem .5rem .1rem;
    align-items: center;
}



.secTextInfo{
    font-size: 15px;
    
}

.nameUser , .nameUser1 {
    padding-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
}





.navbar a {
  
  display: flex;
  justify-content: space-between;
}


  


@media screen and (min-width: 260px) {
  
  .logoText {
    font-family: 'Ribeye', cursive;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    
}

.navbar a {
  float: left;
  *padding: 2px;
  color: white;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 2px;
  text-decoration: none;
  font-size: 12px;
  }

  .navbar a:hover {
  background-color:#834813;
}
 .imgProfile{
  width: 130px;
  height: 130px;
  margin-right: 25px;
  *border-radius: 50%;
}
  .secPublishBox{
   height: 180px;
   width: 98%;
   border-radius: 20px;
   margin-left: 3px;
   background-color: #ffffff;
   border: #1D8C6C 1px solid;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px 0px 10px 0px;

   

  }

  .boxText{
    height: 140px;
    width: 90%;
    border-radius: 20px;
    *margin-left: 7px;
    *margin: 5% 0%;
    resize: none;
    overflow: auto;
    
    box-sizing: border-box;
    border: 2px solid #d1cad6;
    outline-style: none;
    padding-bottom: 10px;
    
  
}

.secBtnBoxText{
  display: flex;
  padding-top:10px;
  margin: 0px;

}

.boxText::-webkit-input-placeholder {
  color:#444444bb;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
}


.inputShare{
    padding-bottom: 10px;
    color: #ffffff;
    background: #55A603;
    border-color: #55A603;
    border-radius: 20px;
    border: none;
    width: 90px;
    height: 35px;
    cursor: pointer;
    vertical-align: bottom;
    padding-top: 7px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-left: 190px;
    z-index: 3;
}

.imgFile{
  padding: 0px;
  margin: 0px;
  *position: relative;
  
}
#file_input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
   
}
#iconFile{
  position: relative;
  z-index: 0;
}

}

@media screen and (min-width: 700px) {
  .logoText {
    font-family: 'Ribeye', cursive;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    
}

.navbar a {
  float: left;
  *padding: 2px;
  color: white;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 15px;
  }

  .navbar a:hover {
  background-color:#834813;
}
 .imgProfile{
  width: 130px;
  height: 130px;
  margin-right: 25px;
  *border-radius: 50%;
}
  .secPublishBox{
   height: 180px;
   width: 98%;
   border-radius: 20px;
   margin-left: 9px;
   background-color: #ffffff;
   border: #1D8C6C 1px solid;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px 0px 10px 0px;

   

  }

  .boxText{
    height: 140px;
    width: 90%;
    border-radius: 20px;
    *margin-left: 7px;
    *margin: 5% 0%;
    resize: none;
    overflow: auto;
    
    box-sizing: border-box;
    border: 2px solid #d1cad6;
    outline-style: none;
    padding-bottom: 10px;
    
  
}

.secBtnBoxText{
  display: flex;
  padding-top:10px;
  margin: 0px;

}

.boxText::-webkit-input-placeholder {
  color:#444444bb;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
}

.inputShare{
    padding-bottom: 10px;
    color: #ffffff;
    background: #55A603;
    border-color: #55A603;
    border-radius: 20px;
    border: none;
    width: 90px;
    height: 35px;
    cursor: pointer;
    vertical-align: bottom;
    padding-top: 7px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-left: 190px;
    z-index: 3;
}

.imgFile{
  padding: 0px;
  margin: 0px;
  z-index: 1;
  
}
#file_input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 0;
   
}

}


@media screen and (min-width: 1024px) {
    .secViewDesktop {
      grid-template-columns: repeat(2, 1fr);
    }
    .secViewDesktop .secCover > img{
      display: block;
    }
    .secHome {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        column-gap: 5%;
        padding: 3rem 2rem;
    
    }
    .logoText {
      font-family: 'Ribeye', cursive;
      text-decoration: none;
      color: #ffffff;
      font-size: 30px;
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      
  }
  
  .navbar a {
    float: left;
    *padding: 2px;
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 17px;
    }
  
    .navbar a:hover {
    background-color:#834813;
  }
   .imgProfile{
    width: 200px;
    height: 200px;
    margin-right: 25px;
    *border-radius: 50%;
    cursor: pointer;
  }
    .secPublishBox{
     height: 180px;
     width: 98%;
     border-radius: 20px;
     margin-left: 3px;
     background-color: #ffffff;
     border: #1D8C6C 1px solid;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px 0px 10px 0px;
  
     
  
    }
  
    .boxText{
      height: 140px;
      width: 90%;
      border-radius: 20px;
      *margin-left: 7px;
      *margin: 5% 0%;
      resize: none;
      overflow: auto;
      
      box-sizing: border-box;
      border: 2px solid #d1cad6;
      outline-style: none;
      padding-bottom: 10px;
      
    
  }
  
  .secBtnBoxText{
    display: flex;
    padding-top:10px;
    margin: 0px;
  
  }
  
  .boxText::-webkit-input-placeholder {
    color:#444444bb;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
  }
  
  
  .inputShare{
      padding-bottom: 10px;
      color: #ffffff;
      background: #55A603;
      border-color: #55A603;
      border-radius: 20px;
      border: none;
      width: 90px;
      height: 35px;
      cursor: pointer;
      vertical-align: bottom;
      padding-top: 7px;
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 0.6px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      margin-left: 190px;
      z-index: 3;
  }
  
  .imgFile{
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 1;
    
  }
  #file_input {
    
    cursor: pointer;
    opacity: 0;
    z-index: 0;
     
  }
   
}





